<%- include ("partials/header"); -%>
<h1>Home</h1>
<p><%= homeContent %></p>

<% posts.forEach(element=> {%>
   <h1> <%= element.PostTitle %></h1>
   <p><%= element.PostBody %></p>
<%}); %>


<%- include ("partials/footer"); -%>